<template>
    <div>
        <p>count: {{ count }}</p>
        <button @click="increment">Click em mim</button>
    </div>
</template>
<script>
import store from '../../store'
export default {
	data() {
		return {
			titulo: 'Home'
		}
	},
	computed: {
		count () {
			return store.state.count
		}
	},
	methods: {
		increment () {
			store.commit('increment')
		}
	}
}
</script>

<style lang="sass" scoped>
.counter
	text-align: center
	margin: 50px auto 0

p,
button
	display: inline-block

button
    display: inline-block
    background: transparent
    border: 3px solid #000
    font-weight: bold
    cursor: pointer

</style>
