<template>
  <div class="home base">
      	<h1>{{ titulo }}</h1>
		<counter></counter>
  </div>
</template>

<script>
import Counter from '../Counter/Counter.vue'
export default {
    data(){
        return {
            titulo: 'Home'
        }
    },
	components: { Counter }
}
</script>