<template>
    <ul>
        <li>
            <router-link to="/">
                Home
                <span>{{ count }}</span>
            </router-link>
        </li>
        <li>
            <router-link to="/blog">Blog</router-link>
        </li>
    </ul>
</template>
<script>
import store from '../../store'
export default {
	computed: {
		count () {
			return store.state.count
		}
	}, 
}
</script>
<style lang="sass" scoped>
ul
    background: #000
li
    display: inline-block
a
    padding: 10px 20px
    display: block
    font-family: 'Open Sans', sans-serif
    color: #fff
    &:hover,
    &.router-link-exact-active.router-link-active
        background: #333
span
    display: inline-block
    text-align: center
    width: 22px
    height: 22px
    border-radius: 10px
    background: #2196F3
    color: darken(#2196F3, 15%)
    margin-left: 5px
    box-sizing: border-box
    font-size: 12px
    padding: 3px 2px 3px
    font-weight: 700

</style>


