*
    font-size: 16px
body
    font-family: 'Merriweather', serif
    margin: 0
    padding: 0
    font-weight: 400
a
    text-decoration: none
ul
    padding: 0
    margin: 0
input,
button,
select,
textarea
    &:focus
        outline: 0

.base
    padding: 20px