<template>
	<div class="blog base">
		<h1>{{ titulo }}</h1>
		<lista-artigo></lista-artigo>
	</div>
</template>

<script>
import store from '../../store'
import ListaArtigo from '../ListaArtigo/ListaArtigo.vue'
export default {
	data() {
		return {
			titulo: 'Blog'
		}
	},
	components: { ListaArtigo }
}
</script>

<style lang="sass" scoped>
</style>
